body {
    font-family: 'MaruMono-Regular', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #2B2B2B;
    padding: 0px 20px;
}

.marquee {
    position: relative;
    font-size: 1.5rem;
    line-height: 2;
    border-bottom: solid 1px white;
    height: 60px;
    overflow: hidden;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-3000vw);
    }
}

.marquee span {
    /* shorthand brief version of the animation css rule  */
    animation: moveLeft 400s 2s infinite linear;
    /* keep text all on a single line */
    white-space: nowrap;
    /* our span in inline by default */
    display: block;
    /* this will let us add our animation */
    position: absolute;
    top: 6px;
}

@keyframes appear {
    0% {
        transform: scale(0.5);
        opacity: 0;
        transform: translate(0);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        transform: translate(-10vw);
    }
}

.appear {
    animation: appear 3s ease-in-out;
}

@keyframes slideOut {
    0% {
        transform: translate(0);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-15vw);
    }
}

.slideOut {
    animation: slideOut 3s ease-in;
}

.gallery {
    display: grid;
    grid-template-columns: 5fr 4fr 2fr;
    grid-auto-rows: max-content 0fr;
    gap: 40px;
    width: 100%;
    overflow: hidden;
    /* padding: 1rem 0.5rem; */
    padding: 1rem 0rem;
    transition: grid-template-columns 0.4s;
}

.gallery .project {
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.4s;
}

.gallery div.hide {
    opacity: 0;
}

.gallery img {
    max-width: 100%;
    /* aspect-ratio: 4 / 5; */
    object-fit: cover;
}

figure {
    width: 100%;
    /* padding: 0 0.5rem; */
}

.project h2 {
    /* padding: 0 0.5rem; */
}

.project-1 {
    order: 0;
}

.project-2 {
    order: 1;
}

.project-3 {
    order: 2;
}

.project-4 {
    order: 3;
}

.project-5 {
    order: 4;
}

.project-6 {
    order: 5;
}